<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <title>Wiki CTFL | {{.Doc.title}}</title>
    <link rel="stylesheet" href="assets/stylesheets/reset.css">
    <link rel="stylesheet" href="assets/stylesheets/classes.css">
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    
</head>
<body class="body">
    <header class="header">
        <section class="header__wrap">
            <img class="header__logo" width="150" src="assets/images/Leuchtturmrakete-02.svg" alt="Logo Chaostreff Flensburg">
            <h1 class="header__headline">Wiki Chaostreff Flensburg</h1>
        </section>
    </header>
    <main class="main">
         {{.Doc.body}}
    </main>
    <footer>

    </footer>
</body>
</html>